:root{
    --accent-color: rgb(185, 80, 211);
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
   /* background-image:url("background.jpg");
    background-attachment: fixed;
    background-size: cover;*/
    font-family: 'Chakra Petch', sans-serif;
    color: rgb(20,20,30);
}

h1{
    font-size: 24px;
    margin: 0;
}

h3 {
    font-size: 24px;
    margin: 0;
}

h4{
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

.navigation {
    font-size: 22px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.navigation a {
    text-decoration: none;
    color: var(--accent-color);
    padding: 10px 20px;
    display: block;
}

.content {
    padding: 30px 0 60px 0;
}

.content-edit{
    color: var(--accent-color);
    text-align: right;
    margin-right: 30px;
    font-size: 24px;
}


/* TEAM PROFILE ********************************************************************************/

h10{
    font-weight: 300;
    font-size: 12px;
    margin: 0 0 20px 0;
}

.team-profile{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
}

.team-profile img{
    width: 200px;
    height: auto;
}

.profile-picture{
    display: table;
    height: 150px;
    width: 150px;
    border-radius: 75px;
    background-color: rgb(0,0,0,.2);
    font-size: 60px;
    color: rgb(0,0,0,.2);
    text-align: center;
    vertical-align: middle;
    margin: 0 0 10px 0;
}

.profile-picture i{
    display: table-cell;
    vertical-align: middle;
}

.team-stats{
    padding: 20px 0 20px 0;
    font-weight: 100;
    border-top: 1px dotted #ccc;
    margin: 20px 0 0 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.team-stats-item{
    min-width: 100px;
    text-align: center;
    padding: 10px 0 15px 0;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.team-stats-item i{
    margin: 5px 0 0 0;
    font-size: 24px;
    border-top: 1px solid #757575;
    padding-top: 10px;
}

.team-latest-matches{
    border-top: 1px dotted #ccc;
    margin: 0;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
}

.team-latest-matches table td{
    padding: 3px 10px;
}

.win-text,
.lose-text,
.team-latest-matches table td:nth-child(1){
    font-weight: 700;
}

.team-latest-matches table td:nth-child(5){
    display: none;
}

.team-latest-matches table tr{
    border-top: 1px dotted #ccc;
}

.win-text{
    color: #55a155;
}

.lose-text {
    color: #c94040;
}



/* TOURNAMENTS ********************************************************************************/

.tournaments{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.tournaments-item{
    background-size: cover;
    height: 150px;
    width: 100%;
}

.ffc {
    background-image:url("ffc.png");
}

.slc{
    background-image:url("asdf.jpg");    
}